

body{
  background-color:#24A19C;

   margin: 0px;
}
h1{position:absolute;
font-size:500%;
margin: 70% 10% 70% 10%;
color: #325288;
font-family: 'Press Start 2P', cursive;position:absolute;

}


 .D1{ top:0px;background-color:#24A19C;}
 .D2{top:33.3%;background-color:#24A19C;}
 .D3{bottom:0px;background-color:#24A19C;}
img{
  align-content: center;margin:40% 3% 40% 3%;
}

 .D11{ background-color:#D96098;font-family: 'Press Start 2P', cursive;position:absolute; text-align: center;}
 .D13{ left:67%;background-color:#D96098;position: absolute;}
 .D12{ left:33.3%;position: absolute;text-align: center;}
.v{color: #FAEEE7;
font-size:400%;text-align: center;}

 .D21{ position: absolute;}
 .D22{ left:33.3%;background-color:#325288;position: absolute;}
 .D23{ left:67%;position: absolute;}
.centered1{
  margin:40% 3% 40% -30%

}
.centered{
  margin:-18% 3% 40% -30%

}

 .D31{ background-color:#D96098;position: absolute;}
 .D33{ left:67%;background-color:#D96098;position: absolute;}
 .D32{ left:33.3%;position: absolute;}
